# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Compiled output
dist
tmp
out-tsc
*.tsbuildinfo
.expo
.expo-shared
out

# Dependencies
node_modules/
jspm_packages/
bower_components/
web_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
npm-debug.log
yarn-error.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
lib-cov
.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# TypeScript cache
*.tsbuildinfo

# Optional caches
.npm
.eslintcache
.stylelintcache
.node_repl_history

# Packing
*.tgz
.yarn-integrity

# Environment files
.env
.env.*
!.env.example

# Build caches
.cache/
.parcel-cache
.grunt

# Framework-specific outputs
.next
.nuxt
.output
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus

# Misc
/.sass-cache
/connect.lock
/libpeerconnection.log
testem.log
/typings
.DS_Store
Thumbs.db
.tern-port
.vscode-test

# Serverless / Dynamic
.serverless/
.fusebox/
.dynamodb/
.firebase/

# pnpm
.pnpm-store

# yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/

# Replit
.local/

# Cursor / GitHub Copilot instructions
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
