modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/alphanxt: web"

[[workflows.workflow]]
name = "artifacts/alphanxt: web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=25187 BASE_PATH=/ pnpm --filter @workspace/alphanxt run dev"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
packages = ["nano"]

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyBiGqfzLZwG3N1Nv4L4ezMaErBmv0FpkxM"
VITE_FIREBASE_APP_ID = "1:877735817260:web:de8cdab926dbf352eda189"
VITE_FIREBASE_AUTH_DOMAIN = "alphanxt-40c0f.firebaseapp.com"
VITE_FIREBASE_MESSAGING_SENDER_ID = "877735817260"
VITE_FIREBASE_PROJECT_ID = "alphanxt-40c0f"
VITE_FIREBASE_STORAGE_BUCKET = "alphanxt-40c0f.firebasestorage.app"
